body {
   	background-repeat: no-repeat;
	background-position: top;
	font-family: 'Abel', sans-serif;
	width:100%;
	padding: 0;
	background-position: 50% 0%;
	background-size: 100%;
	
}

* {
	box-sizing: border-box;
	margin: 0;
} 

.row::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: "myFont";
    src: url("../fonts/Abel-Regular.ttf");
}

h1 {
	font-family: myFont;
	font-size: 8vw;
	line-height: 1;
	letter-spacing: 12px;
}

h2, h3, a {
	font-family: myFont;
	line-height: 1.1;
}

h3{
	font-size: 3vw;
	font-weight: lighter;
	letter-spacing: 3px;
}

p {
	font-size: 1vw;
	font-family: myFont;
	line-height: 1.1;
	font-weight: lighter;
	letter-spacing: 1px;
}

input, textarea{
	font-size: 1vw;
	font-family: myFont;
	font-weight: bold;
	color: #17191e;
	outline: none;
	background-color: transparent;
	box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
	width: 80%;	
}

@media only screen and (min-width: 300px) {

	h1 {
		font-size: 16vw;
		letter-spacing: 2vw;
		line-height: 1;
	}

	h3{
		font-size: 6vw;
		font-weight: lighter;
		letter-spacing: 3px;
	}

	p{
		font-size: 4vw;
	}

	span{
		font-size: 4vw; 
	}
		
	input, textarea{
		font-size: 1vw;
	}
	
	.services_box{
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
	}

	.portfolio_works{
		display: none;
	}
	
	.portfolio_works{
		display: grid;
		grid-template-areas: 
		'work_1 work_1 work_1 work_1 work_1 work_1 work_1 work_1' 
		'work_2 work_2 work_2 work_2 work_2 work_2 work_2 work_2' 
		'work_3 work_3 work_3 work_3 work_3 work_3 work_3 work_3' 
		'work_4 work_4 work_4 work_4 work_4 work_4 work_4 work_4' 
		'work_5 work_5 work_5 work_5 work_5 work_5 work_5 work_5' 
		'work_6 work_6 work_6 work_6 work_6 work_6 work_6 work_6';
	}
	
	.col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
	.col-xs-12 {width: 100%;}

}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	
	h1 {
		font-size: 13vw;
	}

	h3{
		font-size: 6vw;
	}

	h4{
		font-size: 10vw;
	}

	p{
		font-size: 2.5vw;
	}

	span{
		font-size: 2vw; 
	}

	.title{
		height: 150px;
	}

	input, textarea{
		font-size: 1vw;
	}
	

	.dropdown-content {
		position: relative;
		display: inline-block;
		transition: 0.3s;
		text-align: center;
	}
	
	.about_me_box {
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}
	
	.about_me_info{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}

	.portfolio_works{
		background-color: red;
		display: flex;
		flex-direction: column;
	}
	

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */

	h1 {
		font-size: 8vw;
	}

	h3{
		font-size: 3vw;
	}

	p{
		font-size: 1.5vw;
	}

	span{
		font-size: 1.5vw; 
	}
	
	.dropdown-content {
		position: relative;
		text-align: right;
		display: inline-block;
		transition: 0.3s;
	}
	
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
}
.contact_item{
	margin: 15px auto;
}

.my_photo {
	width: 50%;
	margin: 30px auto;
}

.border {
	border: 1px solid white;
}


/*_______________________________WAKE_THE_DESIGN_______________________________*/

#scrollUp {
	right: 15vw;
	bottom: 5vh;
	width: 30px;
	height: 30px;
	padding: 10px 20px;
	background-color: #ffda00;
	background-image: url("../images/icons_logos/back_to_top.png");
	background-position: 50% 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1px;
	background-color: #ffce00; }

.cont_wake_design {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background-color: #17191e;
}

.nav{
	position: relative;
}

.wake_design_box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0 auto;
	padding: 20px;
}

		#myVideo {
			position: absolute;
			right: 0;
			bottom: 0;
			min-width: 100%; 
			min-height: 100%;
			display: none;
		}

			/* Fading animation */
			.fade {
				-webkit-animation-name: fade;
				-webkit-animation-duration: 2.5s;
				animation-name: fade;
				animation-duration: 1.5s;
			}
			
			@-webkit-keyframes fade {
				from {opacity: 0} 
				to {opacity: 1}
			}
			
			@keyframes fade {
				from {opacity: 0} 
				to {opacity: 1}
			}

		#myBtn {
			border: none;
			cursor: pointer;
		}

	.title {
		position: relative;
		display: flex;
		align-content: center;
		height: 40vh;
		margin: 20vh auto 5vh;
		color: #ffdb00;
		text-align: left;
		font-weight: 300;
	}


	.title_p {
		position: relative;
		bottom: 0px;
		height: auto;
		margin: 5vh auto 5vh;
		color: white;
	}

	.montreal_logo {
		position: absolute;
		top: 5%;
		left: 5%;
		height: auto;
		display: inline-block;
	}

	.dropdown {
		position: absolute;
		top: 7%;
		right: 7%;
		height: auto;
		display: inline-block;
	}

			.dropdown_btn {
				position: absolute;
				top: 0px;
				right: 0px;
				width: 30px;
				height: 30px;
				margin: 0px;
				padding: 0px;
				background-color: #ffda00;
				border-radius: 1px;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				top: 30px;
				right: 0px;
				background-color: #23262b;
				width: 100%;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
				transition: 0.3s;
			}

			.dropdown-content a {
				color: #ffdb00;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
			}

			.dropdown-content a:hover {
				background-color: #ffdb00;
				color: #17191e;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				transition: 0.4s;
			}

			/* Show the dropdown menu on hover
			.dropdown:hover .dropdown-content {
				display: block;

			}

			 Change the background color of the dropdown button when the dropdown content is shown 
			.dropdown:hover .dropdown_btn {
				opacity: 0.9;
			} */

/*_______________________________QUOTE_______________________________*/	

.quote {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	margin: 0 auto;
	background-color: #ffdb00;
	
}
.about_me_box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}

	.about_me_info{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		width: fit-content;
	}
		.my_photo {
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
			.my_photo img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		.my_info {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 15px auto;
			margin: 15px auto 0px auto;
		}

.about_me_info ul{
	height: auto;
	list-style-type: none;
}

.about_me_info p{
	color: #ffffff;
}

.about_me_info ul{
	display: inline-block;
	margin: 0 auto;
	list-style-type: none;
	
}

	.about_me_box h3 {
		color: #ffffff;
		margin: 25px 0px;
	}

	.about_me_item_box p {
		color: #17191e;
	}
.about_me_story {
	margin: 10px auto;
}
	#panel{
		display: none;		
	}

.title_button {
	margin: 25px auto;
	height: 50px;
	padding: 0px;
	border: none;
}	
	.title_button input[type=submit] {
		height: 54px;
		margin: 0px auto;
		border: 2px solid #17191e;
		border-radius: 25px;
		background-color: transparent;
		color: #17191e;
		cursor: pointer;
		outline: none;
	}
	.title_button input[type=submit]:hover {
			background-color: #17191e;
			color: #ffdb00;
			transition: background-color 1s ease-out;

		}

/*_______________________________SERVICES______________________________*/	

.services {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
	.services_box {
		height: fit-content;
		margin: 25px auto;
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
		.services_item {
			height: auto;
			padding: 15px;
		}

			.services_item h3 {
				color: #ffdb00;
				margin: 25px 0px;
			}

			.services_item p {
				color: #17191e;
			}

		.yellow_box{
			width: 50px;
			height: 50px;
			margin: 3px auto;
			padding: 0px;
			background-color: #ffdb00;
		}
.services_button {
			position: relative;
			height: 54px;
			margin: 25px auto;
			border: 2px solid #ffdb00;
			border-radius: 25px;
			background-color: #ffffff;
			color: #17191e;
			cursor: pointer;
			font-family: myFont;
			font-weight: bold;
			outline: none;
			}	
			.services_button:hover {
				    background-color: #ffdb00;
					color: #17191e;
					transition: background-color 1s ease-out;
				}


/*_______________________________STATS______________________________*/

.stats {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background-color: #17191e;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stats_box {
		height: auto;
		margin: 50px auto;
		padding: 0px;
		display: flex;
		justify-content: space-around;
		}
		.stats_item {
			height: auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
			
		.stats_item img {
			object-fit: contain;
		}
			.stats_item h2{
				text-align: center;
				font-size: 4vw;
				color: #ffffff;
				margin: 10px auto;
				font-weight: 100;

			}
			
			.stats_item p {
				text-align: center;
				color: #ffdb00;
				font-weight: 100;
			}

/*_______________________________WORKS_SO_FAR______________________________*/


.works_so_far {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	display: flex;
	align-content: center;
	justify-content: center;	
}
	.works_so_far_box {
		display: flex;
		height: auto;
		margin: 25px auto;
		flex-direction: column;
	}
	.works_so_far_item {
		margin: 25px auto;
		padding: 0 auto;
	}
	.works_so_far_item h3 {
				color: #ffdb00;
				margin: 15px 0px 35px 0px;
			}
			
		.works_so_far_box p {
					color: #17191e;
					margin: 0 auto;
					}

		.buttons_box {
			display: flex;
			flex-wrap: wrap;
			height: auto;
			justify-content: flex-end;
		}
		.works_so_far_item_button {
			height: 32px;
			width: fit-content;
			margin: 10px auto;
			padding: 0 15px;
			background-color: #ffffff;
			color: #17191e;
			border: 2px solid #ffdb00;
			outline: none;
			cursor: pointer;
			
		}
		.works_so_far_item_button:hover {
			background-color: #ffdb00;
		}
		
/*_______________________________PORTFOLIO_WORKS______________________________*/

.portfolio_works{
	background-color: #ffdb00;
	display: grid;
	grid-template-areas: 
	'work_1 work_1 work_2 work_2 work_2 work_3 work_3 work_3'
	'work_1 work_1 work_4 work_4 work_5 work_5 work_6 work_6'
}
.work_1 {
	position: relative;
	grid-area: work_1 
}
.work_2 {
	position: relative;
	grid-area: work_2
}
.work_3 {
	position: relative;
	grid-area: work_3 
}
.work_4 {
	position: relative;
	grid-area: work_4 
}
.work_5 {
	position: relative;
	grid-area: work_5 
}
.work_6 {
	position: relative;
	grid-area: work_6 
}

[class*="work_"]:hover .middle {
	opacity: 1;
}
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
	}

[class*="work_"]:hover .opacity {
	opacity: 0.3;
}
	.opacity {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: 1s ease;
		backface-visibility: hidden;
	} 

		
		[class*="work_"] h4 {
			font-size: 2.5vw;
			font-weight: lighter;
			letter-spacing: 1px;
			color: #17191e;
			margin: 10% auto;
			line-height: 1;
		}
	.portfolio_works p {
					font-size: 1vw;
					color: #ffffff;
					margin: auto;
					}
	.portfolio_works_button {
			height: 7%;
			margin: 10% auto;
			padding: 5% 10%;
			background-color: transparent;
			color: #17191e;
			border: 2px solid #ffffff;
			outline: none;
		}
	

	.portfolio_works_button:hover {
				background-color: #ffdb00;
				transition: background-color 1s ease-out;
	}
	
	[class*="work_"] img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
/*.portfolio_works {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #17191e;
}
	.portfolio_works_box {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: #ffdb00;
	}

	portfolio_works_col{
		display: flex;
		height: 100%;
		margin: 0;
		padding: 0;
		float: left;
		overflow: hidden;
	}
	.portfolio_works_row{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		height: 50%;
		overflow: hidden;
	}


	.portfolio_works_item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

	}

	.portfolio_works_item img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.middle {
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%)
		}
	
		.portfolio_works_item:hover .middle {
			opacity: 1;
		}
		.opacity {
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: 1s ease;
			backface-visibility: hidden;
		} 

			.portfolio_works_item:hover .opacity {
				opacity: 0.3;
			}
			.portfolio_works_box h4 {
				font-size: 3vw;
				font-weight: lighter;
				letter-spacing: 1px;
				color: #17191e;
				margin: 10px auto;
				line-height: 1;
			}
		.portfolio_works_box p {
						font-size: 1vw;
						color: #ffffff;
						margin: auto;
						}
		.portfolio_works_button {
				height: 32px;
				margin: 10px auto;
				padding: 10px 20px;
				background-color: transparent;
				color: #17191e;
				border: 2px solid #ffffff;
				outline: none;
			}
		

		.portfolio_works_button:hover {
					background-color: #ffdb00;
		}*/	
/*_______________________________LOAD_PROJECTS______________________________*/

/*.load_projects {
	position: relative;
	width: 100%;
	height: 220px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
}
		.load_box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			height: fit-content;
		}
			
			.load_button {
				height: 50px;
				margin: 80px auto;
				padding: auto;
				background-color: transparent;
				color: #17191e;
				border: 2px solid #ffdb00;
				border-radius: 25px;
				outline: none;
				cursor: pointer;
			}
		

			.load_button:hover {
						background-color: #ffdb00;
					}*/

/*_______________________________CLIENTS______________________________

.clients {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background-color: #17191e;
	
}
	.clients_box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: auto;
		margin: 50px auto;
	}
	.clients_item {
		margin: 10px auto;
	}
		.clients_item h3 {
				color: #ffdb00;
				margin: 25px auto;

			}
		.clients_item p {
					font-size: 1vw;
					color: #ffffff;
					margin: 25px auto;
					}
	.clients_logo_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 52px;
		margin: 10px auto;
		padding: 0px;
		}
		.clients_logo_item {
			width: 20%;
			height: 50px;
			margin: 0 auto;
			padding: 0 auto;
			display: inline-block;
			vertical-align: top;
			}
			
			.clients_logo_item img {
				margin: 0 auto;
			}*/
	

/*_______________________________CONTACT_US______________________________*/

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 0;
	background-color: #ffffff;
}
	.contact_box {
		display: flex;
		flex-direction: column;
		justify-content:flex-start;
		height: auto;
		margin: 15px auto;
	}
		.contact_box h3 {
				color: #ffdb00;
				margin: 15px auto;
			
			}
			
		.contact_box_p {
					color: #17191e;
					margin: 0 auto;
					}

.contact_form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		height: 350px;
		margin: 0 auto;
		padding: 10px;
		background-color:  white;
		}

		form{
			margin: 0;
			padding: 0;
		}
	
		.contact_form input[type=name] {
			width: 47%;
			margin: 1%;
			padding: 15px;
			height: 35px;
			border: 2px solid #17191e;
		}

		.contact_form input[type=email] {
			width: 47%;
			height: 35px;
			margin: 1%;
			padding: 15px;
			border: 2px solid #17191e;
		}

		.contact_form input[name=subject] {
			width: 97%;
		    height: 35px;
			margin: 1%;
			padding: 15px;
		    border: 2px solid #17191e;
		}
		
		textarea {
			width: 97%;
			height: 128px;
			margin: 1%;
			padding: 15px;
			resize: none;
			border: 2px solid #17191e;
		}
	
		.contact_form input[type=submit] {
			height: 50px;
			margin: 20px auto;
			padding: 0;
			background-color: transparent;
			color: #17191e;
			border: 2px solid #ffdb00;
			border-radius: 25px;
			cursor: pointer;
			outline: none;
		}
		
		.contact_form input[type=submit]:hover {
			background-color: #ffdb00;
			transition: background-color 1s ease-out;
		}

/*_______________________________CONTACTS______________________________*/

.contact_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 0;
	background-color: #ffdb00;
}
.contacts_icons_box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		height: auto;
		margin: 0 auto;
		padding: 20% auto;
		}
		
.contact_item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
			
			.contacts_logo_square {
				width: 57px;
				height: 57px;
				background-color: #17191e;
				margin: 0 auto;
				padding: 0;
				display: inline-block;
				border-radius: 2px;
			}

			.contacts_p {
					height: auto;
					margin: 15px auto;
					padding: auto;
					text-align: center;
					color: #17191e;
					display: inline-block;
					vertical-align: top;
					align-items: center;
				}
					.contacts_p p {
						margin: 10px auto;
					}
			
			
			

/*_______________________________FOOTER______________________________*/

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	background-color: #171a1f;
}
	.footer_box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 20vh;
		margin: 0 auto;
	}
		.footer_text_item {
			height: auto;
			margin: 25px auto;
			text-align: center;
			color: #ffffff;
			font-size: 1.2vw;
			letter-spacing: 2px;
			font-weight: 600;
			cursor: pointer;
		}

		.footer_icons {
			display: flex;
			flex-direction: raw;
			justify-content: space-around;
			height: auto;
			margin: 0 auto;
		}
			.footer_icons_item {
				width: 20px;
				height: 20px;
				margin: 0 10px 0 0px;
				padding: 1px;
				display: inline-block;
			}

	/* .back_to_top {
		max-width: 30px;
		max-height: 30px;
		margin: 10px 10px 10px auto;
		background-color: #ffda00;
		border-radius: 1px;
	} */